<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.zzycc.yuche.zzycc_subscriber"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
<!--    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <application xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme= "@android:style/Theme.NoTitleBar">
        <activity android:name="ZzyccSubscriber"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.ros.android.MasterChooser" />
        <service android:name="org.ros.android.NodeMainExecutorService" >
            <intent-filter>
                <action android:name="org.ros.android.NodeMainExecutorService" />
            </intent-filter>
        </service>
    </application>
</manifest>
